<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logo</title>
    <link rel="icon" type="image/png" href="../../static/images/logo.png">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 确保body占据整个视口高度 */
            margin: 0;
            background-color: #fff; /* 可选，添加背景色以确保图片在白色背景上 */
        }

        img {
            width: 60%;
            height: auto;
        }
    </style>
    <script>
        window.onload = function() {
            alert('您好，这是校园安全守护者的logo！');
        };
    </script>
</head>
<body>
<img src="../../static/images/logo.png" alt="logo">
</body>
</html>
